<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error|%>
        <%= js add_gritter(error, title: "Overtime App Notification", sticky: false)%>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rationale %>
    <%= form.text_area :rationale, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.radio_button :status, "submitted" %>
    <%= form.label :status, "Submitted" %>
    
    <%= form.radio_button :status, "approved" %>
    <%= form.label :status, "Approved" %>
    
    <%= form.radio_button :status, "rejected" %>
    <%= form.label :status, "Rejected"  %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: "btn btn-primary btn-block" %>
  </div>
<% end %>