<%= form_with(model: @post, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rationale %>
    <%= form.text_area :rationale, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: "btn btn-primary btn-block" %>
  </div>
<% end %>