<div class="form-group">
    <%= form.radio_button :status, "submitted" %>
    <%= form.label :status, "Submitted" %>
    
    <%= form.radio_button :status, "approved" %>
    <%= form.label :status, "Approved" %>
    
    <%= form.radio_button :status, "rejected" %>
    <%= form.label :status, "Rejected"  %>
</div>